spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fraud_detection_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

    mvc:
      pathmatch:
        matching-strategy: ant_path_matcher